---
---

@import "{{ site.theme }}";
.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: #4d4dff;
    background-image: linear-gradient(120deg, #4d4dff, #4d4dff);
  
    @include large {
      padding: 3rem 4rem;
    }
  
    @include medium {
      padding: 2rem 3rem;
    }
  
    @include small {
      padding: 2rem 1rem;
    }
  }